body {
    font-family: Roboto, Arial;
}

h2 {
    
}

ul.ticketList {
    list-style-type: none;
    margin-left: 0;
}


ul.ticketList li, #config, #stats {
    margin: 1em;
}

.ticketList .ticketitem {
    float: left;
}

span.ticketitem {
    border: 1px dashed #8a8a8a;
    padding: 1rem;
    line-height: 2rem;
    font-family: 'Roboto Mono', monospace !important;
    font-size: 1.6rem;
    margin: 0.4rem .3rem;
    display: inline-block;
}

span.ticketitem.match {
    color: green;
    border: 1px solid #8a8a8a !important;
    box-shadow: 0px 0px 13px 3px rgba(0, 95, 0, 0.28);
}

span.match {
    color: green;
}


.tazeno .ticketitem {
    border: 1px solid rgba(140, 0, 0, 0.39) !important;
}

.tazeno span.ticketitem.last {
    border: 1px solid rgba(140, 0, 0, 0.39) !important;
    box-shadow: 0px 0px 9px 1px rgba(171, 4, 4, 0.28);
    color: #790000;
}

span.outof {
    color: #8a8a8a;
    font-size: .85rem;
}

#spin {
    padding: .5rem;
}

input#configButton {
    width: 100%;
}

fieldset.nomargin {
    margin-top: 0 !important;
}

.paddingtop {
    padding-top: 2em;
}